# MACHINE LEARNING MODEL: TITANIC MACHINE LEARNING FROM DISASTER

Building a predictive model that answers the question: “what sorts of people
were more likely to survive?” using passenger data
(i.e. name, age, gender, socio-economic class, etc)

## Collect Datasets
Load the training dataset

In [70]:
import numpy as np

In [71]:
import pandas as pd

In [72]:
import re

In [73]:
fname = 'train.csv'
data = pd.read_csv(fname)

### Dataset Info

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### View Original Dataset

In [75]:
data.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

### Data Column names

In [76]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## Cleaning the dataset

### Choosing the columns required to generate the model

#### Columns to be ignored (initial)
Columns that can be ignored based on the assumption it wouldn't have any effect on the survival of passengers:
* PassengerID
* Name

#### Input parameters
* Pclass (Proxy for Socio-economic Status)
    1 = 1st (Upper)
    2 = 2nd (Middle)
    3 = 3rd (Lower)
* Sex 
* Age (In Years)
* SibSp (# of siblings / spouses aboard the Titanic) 
* Parch (# of parents / children aboard the Titanic) 
* Ticket (Ticket number)
* Fare (Passenger Fare)
* Cabin (Cabin number)
* Embarked (Port of Embarkation)
    C = Cherbourg, 
    Q = Queenstown, 
    S = Southampton

#### Output Parameters
* Survived 
    0 = No
    1 = Yes

### Unknown/Missing/Error Values in Dataset

**Note:** Unknown or missing value will be treated as 'NAN' and will be categorised as '-1'

### New Dataset

In [77]:
data_size = len(data)
data_new = pd.DataFrame(data).drop(['PassengerId','Name'],axis=1)

### Category-to-numeric Conversion
The columns 'Sex','Cabin','Embarked' needs to be converted to numerical data

#### Data Column: Sex
Category-mapping of the column "Sex":

In [78]:
data_new['Sex'] = pd.Categorical(data_new['Sex'],ordered=True,dtype='category')
cat_sex = dict(enumerate(data_new['Sex'].cat.categories))
print(cat_sex)

{0: 'female', 1: 'male'}

The numeric category is then applied to the column 'Sex':

In [79]:
data_new['Sex'] = data_new.Sex.cat.codes

#### Data Column: Cabin
Category-mapping of the column "Cabin":

In [80]:
data_new['Cabin'] = pd.Categorical(data_new['Cabin'],ordered=True,dtype='category')
cat_cabin = dict(enumerate(data_new['Cabin'].cat.categories))
# cat_cabin = dict(zip(data_new['Cabin'].cat.codes, data_new['Cabin']))
print(cat_cabin)

{0: 'A10', 1: 'A14', 2: 'A16', 3: 'A19', 4: 'A20', 5: 'A23', 6: 'A24', 7: 'A26', 8: 'A31', 9: 'A32', 10: 'A34', 11: 'A36', 12: 'A5', 13: 'A6', 14: 'A7', 15: 'B101', 16: 'B102', 17: 'B18', 18: 'B19', 19: 'B20', 20: 'B22', 21: 'B28', 22: 'B3', 23: 'B30', 24: 'B35', 25: 'B37', 26: 'B38', 27: 'B39', 28: 'B4', 29: 'B41', 30: 'B42', 31: 'B49', 32: 'B5', 33: 'B50', 34: 'B51 B53 B55', 35: 'B57 B59 B63 B66', 36: 'B58 B60', 37: 'B69', 38: 'B71', 39: 'B73', 40: 'B77', 41: 'B78', 42: 'B79', 43: 'B80', 44: 'B82 B84', 45: 'B86', 46: 'B94', 47: 'B96 B98', 48: 'C101', 49: 'C103', 50: 'C104', 51: 'C106', 52: 'C110', 53: 'C111', 54: 'C118', 55: 'C123', 56: 'C124', 57: 'C125', 58: 'C126', 59: 'C128', 60: 'C148', 61: 'C2', 62: 'C22 C26', 63: 'C23 C25 C27', 64: 'C30', 65: 'C32', 66: 'C45', 67: 'C46', 68: 'C47', 69: 'C49', 70: 'C50', 71: 'C52', 72: 'C54', 73: 'C62 C64', 74: 'C65', 75: 'C68', 76: 'C7', 77: 'C70', 78: 'C78', 79: 'C82', 80: 'C83', 81: 'C85', 82: 'C86', 83: 'C87', 84: 'C90', 85: 'C91', 86: 'C92', 87: 'C93', 88: 'C95', 89: 'C99', 90: 'D', 91: 'D10 D12', 92: 'D11', 93: 'D15', 94: 'D17', 95: 'D19', 96: 'D20', 97: 'D21', 98: 'D26', 99: 'D28', 100: 'D30', 101: 'D33', 102: 'D35', 103: 'D36', 104: 'D37', 105: 'D45', 106: 'D46', 107: 'D47', 108: 'D48', 109: 'D49', 110: 'D50', 111: 'D56', 112: 'D6', 113: 'D7', 114: 'D9', 115: 'E10', 116: 'E101', 117: 'E12', 118: 'E121', 119: 'E17', 120: 'E24', 121: 'E25', 122: 'E31', 123: 'E33', 124: 'E34', 125: 'E36', 126: 'E38', 127: 'E40', 128: 'E44', 129: 'E46', 130: 'E49', 131: 'E50', 132: 'E58', 133: 'E63', 134: 'E67', 135: 'E68', 136: 'E77', 137: 'E8', 138: 'F E69', 139: 'F G63', 140: 'F G73', 141: 'F2', 142: 'F33', 143: 'F38', 144: 'F4', 145: 'G6', 146: 'T'}

In [81]:
data_new['Cabin'] = data_new.Cabin.cat.codes

#### Data Column: Embarked
Category-mapping of the column "Embarked":

In [82]:
data_new['Embarked'] = pd.Categorical(data_new['Embarked'],ordered=True, dtype='category')
cat_embarked = dict(enumerate(data_new['Embarked'].cat.categories))
# print(cat_embarked)

In [83]:
data_new['Embarked'] = data_new.Embarked.cat.codes

#### Data Column: Age

In [87]:
age_nan = np.isnan(data_new['Age'])
data_age = data_new['Age']
data_new['Age'][age_nan] = -1

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#### Extract the numeric data from column: Ticket

Using regular expression to extract the numerics

In [88]:
data_new['Ticket']

0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

In [89]:
# lst = re.findall('[0-9.]+',data_new['Ticket'])

for line in data_new['Ticket']:
    line = line.rstrip()
    print(line)
#     tik_num = re.findall('\s*[0-9]+', line)
#     tik_num = re.findall('(\s([0-9]+)|[0-9]+)', line)    
#     tik_num = re.findall('(\s([0-9]+))', line)
    tik_num = re.findall('(\s[0-9]+)|(^[0-9]+)', line)
    print(tik_num)

A/5 21171
[(' 21171', '')]
PC 17599
[(' 17599', '')]
STON/O2. 3101282
[(' 3101282', '')]
113803
[('', '113803')]
373450
[('', '373450')]
330877
[('', '330877')]
17463
[('', '17463')]
349909
[('', '349909')]
347742
[('', '347742')]
237736
[('', '237736')]
PP 9549
[(' 9549', '')]
113783
[('', '113783')]
A/5. 2151
[(' 2151', '')]
347082
[('', '347082')]
350406
[('', '350406')]
248706
[('', '248706')]
382652
[('', '382652')]
244373
[('', '244373')]
345763
[('', '345763')]
2649
[('', '2649')]
239865
[('', '239865')]
248698
[('', '248698')]
330923
[('', '330923')]
113788
[('', '113788')]
349909
[('', '349909')]
347077
[('', '347077')]
2631
[('', '2631')]
19950
[('', '19950')]
330959
[('', '330959')]
349216
[('', '349216')]
PC 17601
[(' 17601', '')]
PC 17569
[(' 17569', '')]
335677
[('', '335677')]
C.A. 24579
[(' 24579', '')]
PC 17604
[(' 17604', '')]
113789
[('', '113789')]
2677
[('', '2677')]
A./5. 2152
[(' 2152', '')]
345764
[('', '345764')]
2651
[('', '2651')]
7546
[('', '7546')]
11668
[('', '11668')]
349253
[('', '349253')]
SC/Paris 2123
[(' 2123', '')]
330958
[('', '330958')]
S.C./A.4. 23567
[(' 23567', '')]
370371
[('', '370371')]
14311
[('', '14311')]
2662
[('', '2662')]
349237
[('', '349237')]
3101295
[('', '3101295')]
A/4. 39886
[(' 39886', '')]
PC 17572
[(' 17572', '')]
2926
[('', '2926')]
113509
[('', '113509')]
19947
[('', '19947')]
C.A. 31026
[(' 31026', '')]
2697
[('', '2697')]
C.A. 34651
[(' 34651', '')]
CA 2144
[(' 2144', '')]
2669
[('', '2669')]
113572
[('', '113572')]
36973
[('', '36973')]
347088
[('', '347088')]
PC 17605
[(' 17605', '')]
2661
[('', '2661')]
C.A. 29395
[(' 29395', '')]
S.P. 3464
[(' 3464', '')]
3101281
[('', '3101281')]
315151
[('', '315151')]
C.A. 33111
[(' 33111', '')]
CA 2144
[(' 2144', '')]
S.O.C. 14879
[(' 14879', '')]
2680
[('', '2680')]
1601
[('', '1601')]
348123
[('', '348123')]
349208
[('', '349208')]
374746
[('', '374746')]
248738
[('', '248738')]
364516
[('', '364516')]
345767
[('', '345767')]
345779
[('', '345779')]
330932
[('', '330932')]
113059
[('', '113059')]
SO/C 14885
[(' 14885', '')]
3101278
[('', '3101278')]
W./C. 6608
[(' 6608', '')]
SOTON/OQ 392086
[(' 392086', '')]
19950
[('', '19950')]
343275
[('', '343275')]
343276
[('', '343276')]
347466
[('', '347466')]
W.E.P. 5734
[(' 5734', '')]
C.A. 2315
[(' 2315', '')]
364500
[('', '364500')]
374910
[('', '374910')]
PC 17754
[(' 17754', '')]
PC 17759
[(' 17759', '')]
231919
[('', '231919')]
244367
[('', '244367')]
349245
[('', '349245')]
349215
[('', '349215')]
35281
[('', '35281')]
7540
[('', '7540')]
3101276
[('', '3101276')]
349207
[('', '349207')]
343120
[('', '343120')]
312991
[('', '312991')]
349249
[('', '349249')]
371110
[('', '371110')]
110465
[('', '110465')]
2665
[('', '2665')]
324669
[('', '324669')]
4136
[('', '4136')]
2627
[('', '2627')]
STON/O 2. 3101294
[(' 2', ''), (' 3101294', '')]
370369
[('', '370369')]
11668
[('', '11668')]
PC 17558
[(' 17558', '')]
347082
[('', '347082')]
S.O.C. 14879
[(' 14879', '')]
A4. 54510
[(' 54510', '')]
237736
[('', '237736')]
27267
[('', '27267')]
35281
[('', '35281')]
2651
[('', '2651')]
370372
[('', '370372')]
C 17369
[(' 17369', '')]
2668
[('', '2668')]
347061
[('', '347061')]
349241
[('', '349241')]
SOTON/O.Q. 3101307
[(' 3101307', '')]
A/5. 3337
[(' 3337', '')]
228414
[('', '228414')]
C.A. 29178
[(' 29178', '')]
SC/PARIS 2133
[(' 2133', '')]
11752
[('', '11752')]
113803
[('', '113803')]
7534
[('', '7534')]
PC 17593
[(' 17593', '')]
2678
[('', '2678')]
347081
[('', '347081')]
STON/O2. 3101279
[(' 3101279', '')]
365222
[('', '365222')]
231945
[('', '231945')]
C.A. 33112
[(' 33112', '')]
350043
[('', '350043')]
W./C. 6608
[(' 6608', '')]
230080
[('', '230080')]
244310
[('', '244310')]
S.O.P. 1166
[(' 1166', '')]
113776
[('', '113776')]
A.5. 11206
[(' 11206', '')]
A/5. 851
[(' 851', '')]
Fa 265302
[(' 265302', '')]
PC 17597
[(' 17597', '')]
35851
[('', '35851')]
SOTON/OQ 392090
[(' 392090', '')]
315037
[('', '315037')]
CA. 2343
[(' 2343', '')]
371362
[('', '371362')]
C.A. 33595
[(' 33595', '')]
347068
[('', '347068')]
315093
[('', '315093')]
3101295
[('', '3101295')]
363291
[('', '363291')]
113505
[('', '113505')]
347088
[('', '347088')]
PC 17318
[(' 17318', '')]
1601
[('', '1601')]
111240
[('', '111240')]
382652
[('', '382652')]
347742
[('', '347742')]
STON/O 2. 3101280
[(' 2', ''), (' 3101280', '')]
17764
[('', '17764')]
350404
[('', '350404')]
4133
[('', '4133')]
PC 17595
[(' 17595', '')]
250653
[('', '250653')]
LINE
[]
CA. 2343
[(' 2343', '')]
SC/PARIS 2131
[(' 2131', '')]
347077
[('', '347077')]
230136
[('', '230136')]
315153
[('', '315153')]
113767
[('', '113767')]
370365
[('', '370365')]
111428
[('', '111428')]
364849
[('', '364849')]
349247
[('', '349247')]
234604
[('', '234604')]
28424
[('', '28424')]
350046
[('', '350046')]
230080
[('', '230080')]
PC 17610
[(' 17610', '')]
PC 17569
[(' 17569', '')]
368703
[('', '368703')]
4579
[('', '4579')]
370370
[('', '370370')]
248747
[('', '248747')]
345770
[('', '345770')]
CA. 2343
[(' 2343', '')]
3101264
[('', '3101264')]
2628
[('', '2628')]
A/5 3540
[(' 3540', '')]
347054
[('', '347054')]
3101278
[('', '3101278')]
2699
[('', '2699')]
367231
[('', '367231')]
112277
[('', '112277')]
SOTON/O.Q. 3101311
[(' 3101311', '')]
F.C.C. 13528
[(' 13528', '')]
A/5 21174
[(' 21174', '')]
250646
[('', '250646')]
367229
[('', '367229')]
35273
[('', '35273')]
STON/O2. 3101283
[(' 3101283', '')]
243847
[('', '243847')]
11813
[('', '11813')]
W/C 14208
[(' 14208', '')]
SOTON/OQ 392089
[(' 392089', '')]
220367
[('', '220367')]
21440
[('', '21440')]
349234
[('', '349234')]
19943
[('', '19943')]
PP 4348
[(' 4348', '')]
SW/PP 751
[(' 751', '')]
A/5 21173
[(' 21173', '')]
236171
[('', '236171')]
4133
[('', '4133')]
36973
[('', '36973')]
347067
[('', '347067')]
237442
[('', '237442')]
347077
[('', '347077')]
C.A. 29566
[(' 29566', '')]
W./C. 6609
[(' 6609', '')]
26707
[('', '26707')]
C.A. 31921
[(' 31921', '')]
28665
[('', '28665')]
SCO/W 1585
[(' 1585', '')]
2665
[('', '2665')]
367230
[('', '367230')]
W./C. 14263
[(' 14263', '')]
STON/O 2. 3101275
[(' 2', ''), (' 3101275', '')]
2694
[('', '2694')]
19928
[('', '19928')]
347071
[('', '347071')]
250649
[('', '250649')]
11751
[('', '11751')]
244252
[('', '244252')]
362316
[('', '362316')]
347054
[('', '347054')]
113514
[('', '113514')]
A/5. 3336
[(' 3336', '')]
370129
[('', '370129')]
2650
[('', '2650')]
PC 17585
[(' 17585', '')]
110152
[('', '110152')]
PC 17755
[(' 17755', '')]
230433
[('', '230433')]
384461
[('', '384461')]
347077
[('', '347077')]
110413
[('', '110413')]
112059
[('', '112059')]
382649
[('', '382649')]
C.A. 17248
[(' 17248', '')]
3101295
[('', '3101295')]
347083
[('', '347083')]
PC 17582
[(' 17582', '')]
PC 17760
[(' 17760', '')]
113798
[('', '113798')]
LINE
[]
250644
[('', '250644')]
PC 17596
[(' 17596', '')]
370375
[('', '370375')]
13502
[('', '13502')]
347073
[('', '347073')]
239853
[('', '239853')]
382652
[('', '382652')]
C.A. 2673
[(' 2673', '')]
336439
[('', '336439')]
347464
[('', '347464')]
345778
[('', '345778')]
A/5. 10482
[(' 10482', '')]
113056
[('', '113056')]
349239
[('', '349239')]
345774
[('', '345774')]
349206
[('', '349206')]
237798
[('', '237798')]
370373
[('', '370373')]
19877
[('', '19877')]
11967
[('', '11967')]
SC/Paris 2163
[(' 2163', '')]
349236
[('', '349236')]
349233
[('', '349233')]
PC 17612
[(' 17612', '')]
2693
[('', '2693')]
113781
[('', '113781')]
19988
[('', '19988')]
PC 17558
[(' 17558', '')]
9234
[('', '9234')]
367226
[('', '367226')]
LINE
[]
226593
[('', '226593')]
A/5 2466
[(' 2466', '')]
113781
[('', '113781')]
17421
[('', '17421')]
PC 17758
[(' 17758', '')]
P/PP 3381
[(' 3381', '')]
PC 17485
[(' 17485', '')]
11767
[('', '11767')]
PC 17608
[(' 17608', '')]
250651
[('', '250651')]
349243
[('', '349243')]
F.C.C. 13529
[(' 13529', '')]
347470
[('', '347470')]
244367
[('', '244367')]
29011
[('', '29011')]
36928
[('', '36928')]
16966
[('', '16966')]
A/5 21172
[(' 21172', '')]
349219
[('', '349219')]
234818
[('', '234818')]
248738
[('', '248738')]
CA. 2343
[(' 2343', '')]
PC 17760
[(' 17760', '')]
345364
[('', '345364')]
28551
[('', '28551')]
363291
[('', '363291')]
111361
[('', '111361')]
367226
[('', '367226')]
113043
[('', '113043')]
PC 17582
[(' 17582', '')]
345764
[('', '345764')]
PC 17611
[(' 17611', '')]
349225
[('', '349225')]
113776
[('', '113776')]
16966
[('', '16966')]
7598
[('', '7598')]
113784
[('', '113784')]
230080
[('', '230080')]
19950
[('', '19950')]
248740
[('', '248740')]
244361
[('', '244361')]
229236
[('', '229236')]
248733
[('', '248733')]
31418
[('', '31418')]
386525
[('', '386525')]
C.A. 37671
[(' 37671', '')]
315088
[('', '315088')]
7267
[('', '7267')]
113510
[('', '113510')]
2695
[('', '2695')]
349237
[('', '349237')]
2647
[('', '2647')]
345783
[('', '345783')]
113505
[('', '113505')]
237671
[('', '237671')]
330931
[('', '330931')]
330980
[('', '330980')]
347088
[('', '347088')]
SC/PARIS 2167
[(' 2167', '')]
2691
[('', '2691')]
SOTON/O.Q. 3101310
[(' 3101310', '')]
370365
[('', '370365')]
C 7076
[(' 7076', '')]
110813
[('', '110813')]
2626
[('', '2626')]
14313
[('', '14313')]
PC 17477
[(' 17477', '')]
11765
[('', '11765')]
3101267
[('', '3101267')]
323951
[('', '323951')]
PC 17760
[(' 17760', '')]
349909
[('', '349909')]
PC 17604
[(' 17604', '')]
C 7077
[(' 7077', '')]
113503
[('', '113503')]
2648
[('', '2648')]
347069
[('', '347069')]
PC 17757
[(' 17757', '')]
2653
[('', '2653')]
STON/O 2. 3101293
[(' 2', ''), (' 3101293', '')]
113789
[('', '113789')]
349227
[('', '349227')]
S.O.C. 14879
[(' 14879', '')]
CA 2144
[(' 2144', '')]
27849
[('', '27849')]
367655
[('', '367655')]
SC 1748
[(' 1748', '')]
113760
[('', '113760')]
350034
[('', '350034')]
3101277
[('', '3101277')]
35273
[('', '35273')]
PP 9549
[(' 9549', '')]
350052
[('', '350052')]
350407
[('', '350407')]
28403
[('', '28403')]
244278
[('', '244278')]
240929
[('', '240929')]
STON/O 2. 3101289
[(' 2', ''), (' 3101289', '')]
341826
[('', '341826')]
4137
[('', '4137')]
STON/O2. 3101279
[(' 3101279', '')]
315096
[('', '315096')]
28664
[('', '28664')]
347064
[('', '347064')]
29106
[('', '29106')]
312992
[('', '312992')]
4133
[('', '4133')]
349222
[('', '349222')]
394140
[('', '394140')]
19928
[('', '19928')]
239853
[('', '239853')]
STON/O 2. 3101269
[(' 2', ''), (' 3101269', '')]
343095
[('', '343095')]
28220
[('', '28220')]
250652
[('', '250652')]
28228
[('', '28228')]
345773
[('', '345773')]
349254
[('', '349254')]
A/5. 13032
[(' 13032', '')]
315082
[('', '315082')]
347080
[('', '347080')]
370129
[('', '370129')]
A/4. 34244
[(' 34244', '')]
2003
[('', '2003')]
250655
[('', '250655')]
364851
[('', '364851')]
SOTON/O.Q. 392078
[(' 392078', '')]
110564
[('', '110564')]
376564
[('', '376564')]
SC/AH 3085
[(' 3085', '')]
STON/O 2. 3101274
[(' 2', ''), (' 3101274', '')]
13507
[('', '13507')]
113760
[('', '113760')]
W./C. 6608
[(' 6608', '')]
29106
[('', '29106')]
19950
[('', '19950')]
C.A. 18723
[(' 18723', '')]
F.C.C. 13529
[(' 13529', '')]
345769
[('', '345769')]
347076
[('', '347076')]
230434
[('', '230434')]
65306
[('', '65306')]
33638
[('', '33638')]
250644
[('', '250644')]
113794
[('', '113794')]
2666
[('', '2666')]
113786
[('', '113786')]
C.A. 34651
[(' 34651', '')]
65303
[('', '65303')]
113051
[('', '113051')]
17453
[('', '17453')]
A/5 2817
[(' 2817', '')]
349240
[('', '349240')]
13509
[('', '13509')]
17464
[('', '17464')]
F.C.C. 13531
[(' 13531', '')]
371060
[('', '371060')]
19952
[('', '19952')]
364506
[('', '364506')]
111320
[('', '111320')]
234360
[('', '234360')]
A/S 2816
[(' 2816', '')]
SOTON/O.Q. 3101306
[(' 3101306', '')]
239853
[('', '239853')]
113792
[('', '113792')]
36209
[('', '36209')]
2666
[('', '2666')]
323592
[('', '323592')]
315089
[('', '315089')]
C.A. 34651
[(' 34651', '')]
SC/AH Basle 541
[(' 541', '')]
7553
[('', '7553')]
110465
[('', '110465')]
31027
[('', '31027')]
3460
[('', '3460')]
350060
[('', '350060')]
3101298
[('', '3101298')]
CA 2144
[(' 2144', '')]
239854
[('', '239854')]
A/5 3594
[(' 3594', '')]
4134
[('', '4134')]
11967
[('', '11967')]
4133
[('', '4133')]
19943
[('', '19943')]
11771
[('', '11771')]
A.5. 18509
[(' 18509', '')]
C.A. 37671
[(' 37671', '')]
65304
[('', '65304')]
SOTON/OQ 3101317
[(' 3101317', '')]
113787
[('', '113787')]
PC 17609
[(' 17609', '')]
A/4 45380
[(' 45380', '')]
2627
[('', '2627')]
36947
[('', '36947')]
C.A. 6212
[(' 6212', '')]
113781
[('', '113781')]
350035
[('', '350035')]
315086
[('', '315086')]
364846
[('', '364846')]
330909
[('', '330909')]
4135
[('', '4135')]
110152
[('', '110152')]
PC 17758
[(' 17758', '')]
26360
[('', '26360')]
111427
[('', '111427')]
C 4001
[(' 4001', '')]
1601
[('', '1601')]
382651
[('', '382651')]
SOTON/OQ 3101316
[(' 3101316', '')]
PC 17473
[(' 17473', '')]
PC 17603
[(' 17603', '')]
349209
[('', '349209')]
36967
[('', '36967')]
C.A. 34260
[(' 34260', '')]
371110
[('', '371110')]
226875
[('', '226875')]
349242
[('', '349242')]
12749
[('', '12749')]
349252
[('', '349252')]
2624
[('', '2624')]
111361
[('', '111361')]
2700
[('', '2700')]
367232
[('', '367232')]
W./C. 14258
[(' 14258', '')]
PC 17483
[(' 17483', '')]
3101296
[('', '3101296')]
29104
[('', '29104')]
26360
[('', '26360')]
2641
[('', '2641')]
2690
[('', '2690')]
2668
[('', '2668')]
315084
[('', '315084')]
F.C.C. 13529
[(' 13529', '')]
113050
[('', '113050')]
PC 17761
[(' 17761', '')]
364498
[('', '364498')]
13568
[('', '13568')]
WE/P 5735
[(' 5735', '')]
347082
[('', '347082')]
347082
[('', '347082')]
2908
[('', '2908')]
PC 17761
[(' 17761', '')]
693
[('', '693')]
2908
[('', '2908')]
SC/PARIS 2146
[(' 2146', '')]
363291
[('', '363291')]
C.A. 33112
[(' 33112', '')]
17421
[('', '17421')]
244358
[('', '244358')]
330979
[('', '330979')]
2620
[('', '2620')]
347085
[('', '347085')]
113807
[('', '113807')]
11755
[('', '11755')]
PC 17757
[(' 17757', '')]
110413
[('', '110413')]
345572
[('', '345572')]
372622
[('', '372622')]
349251
[('', '349251')]
218629
[('', '218629')]
SOTON/OQ 392082
[(' 392082', '')]
SOTON/O.Q. 392087
[(' 392087', '')]
A/4 48871
[(' 48871', '')]
349205
[('', '349205')]
349909
[('', '349909')]
2686
[('', '2686')]
350417
[('', '350417')]
S.W./PP 752
[(' 752', '')]
11769
[('', '11769')]
PC 17474
[(' 17474', '')]
14312
[('', '14312')]
A/4. 20589
[(' 20589', '')]
358585
[('', '358585')]
243880
[('', '243880')]
13507
[('', '13507')]
2689
[('', '2689')]
STON/O 2. 3101286
[(' 2', ''), (' 3101286', '')]
237789
[('', '237789')]
17421
[('', '17421')]
28403
[('', '28403')]
13049
[('', '13049')]
3411
[('', '3411')]
110413
[('', '110413')]
237565
[('', '237565')]
13567
[('', '13567')]
14973
[('', '14973')]
A./5. 3235
[(' 3235', '')]
STON/O 2. 3101273
[(' 2', ''), (' 3101273', '')]
36947
[('', '36947')]
A/5 3902
[(' 3902', '')]
364848
[('', '364848')]
SC/AH 29037
[(' 29037', '')]
345773
[('', '345773')]
248727
[('', '248727')]
LINE
[]
2664
[('', '2664')]
PC 17485
[(' 17485', '')]
243847
[('', '243847')]
349214
[('', '349214')]
113796
[('', '113796')]
364511
[('', '364511')]
111426
[('', '111426')]
349910
[('', '349910')]
349246
[('', '349246')]
113804
[('', '113804')]
SC/Paris 2123
[(' 2123', '')]
PC 17582
[(' 17582', '')]
347082
[('', '347082')]
SOTON/O.Q. 3101305
[(' 3101305', '')]
367230
[('', '367230')]
370377
[('', '370377')]
364512
[('', '364512')]
220845
[('', '220845')]
347080
[('', '347080')]
A/5. 3336
[(' 3336', '')]
230136
[('', '230136')]
31028
[('', '31028')]
2659
[('', '2659')]
11753
[('', '11753')]
2653
[('', '2653')]
350029
[('', '350029')]
54636
[('', '54636')]
36963
[('', '36963')]
219533
[('', '219533')]
13502
[('', '13502')]
349224
[('', '349224')]
334912
[('', '334912')]
27042
[('', '27042')]
347743
[('', '347743')]
13214
[('', '13214')]
112052
[('', '112052')]
347088
[('', '347088')]
237668
[('', '237668')]
STON/O 2. 3101292
[(' 2', ''), (' 3101292', '')]
C.A. 31921
[(' 31921', '')]
3101295
[('', '3101295')]
376564
[('', '376564')]
350050
[('', '350050')]
PC 17477
[(' 17477', '')]
347088
[('', '347088')]
1601
[('', '1601')]
2666
[('', '2666')]
PC 17572
[(' 17572', '')]
349231
[('', '349231')]
13213
[('', '13213')]
S.O./P.P. 751
[(' 751', '')]
CA. 2314
[(' 2314', '')]
349221
[('', '349221')]
231919
[('', '231919')]
8475
[('', '8475')]
330919
[('', '330919')]
365226
[('', '365226')]
S.O.C. 14879
[(' 14879', '')]
349223
[('', '349223')]
364849
[('', '364849')]
29751
[('', '29751')]
35273
[('', '35273')]
PC 17611
[(' 17611', '')]
2623
[('', '2623')]
5727
[('', '5727')]
349210
[('', '349210')]
STON/O 2. 3101285
[(' 2', ''), (' 3101285', '')]
S.O.C. 14879
[(' 14879', '')]
234686
[('', '234686')]
312993
[('', '312993')]
A/5 3536
[(' 3536', '')]
19996
[('', '19996')]
29750
[('', '29750')]
F.C. 12750
[(' 12750', '')]
C.A. 24580
[(' 24580', '')]
244270
[('', '244270')]
239856
[('', '239856')]
349912
[('', '349912')]
342826
[('', '342826')]
4138
[('', '4138')]
CA 2144
[(' 2144', '')]
PC 17755
[(' 17755', '')]
330935
[('', '330935')]
PC 17572
[(' 17572', '')]
6563
[('', '6563')]
CA 2144
[(' 2144', '')]
29750
[('', '29750')]
SC/Paris 2123
[(' 2123', '')]
3101295
[('', '3101295')]
349228
[('', '349228')]
350036
[('', '350036')]
24160
[('', '24160')]
17474
[('', '17474')]
349256
[('', '349256')]
1601
[('', '1601')]
2672
[('', '2672')]
113800
[('', '113800')]
248731
[('', '248731')]
363592
[('', '363592')]
35852
[('', '35852')]
17421
[('', '17421')]
348121
[('', '348121')]
PC 17757
[(' 17757', '')]
PC 17475
[(' 17475', '')]
2691
[('', '2691')]
36864
[('', '36864')]
350025
[('', '350025')]
250655
[('', '250655')]
223596
[('', '223596')]
PC 17476
[(' 17476', '')]
113781
[('', '113781')]
2661
[('', '2661')]
PC 17482
[(' 17482', '')]
113028
[('', '113028')]
19996
[('', '19996')]
7545
[('', '7545')]
250647
[('', '250647')]
348124
[('', '348124')]
PC 17757
[(' 17757', '')]
34218
[('', '34218')]
36568
[('', '36568')]
347062
[('', '347062')]
248727
[('', '248727')]
350048
[('', '350048')]
12233
[('', '12233')]
250643
[('', '250643')]
113806
[('', '113806')]
315094
[('', '315094')]
31027
[('', '31027')]
36866
[('', '36866')]
236853
[('', '236853')]
STON/O2. 3101271
[(' 3101271', '')]
24160
[('', '24160')]
2699
[('', '2699')]
239855
[('', '239855')]
28425
[('', '28425')]
233639
[('', '233639')]
54636
[('', '54636')]
W./C. 6608
[(' 6608', '')]
PC 17755
[(' 17755', '')]
349201
[('', '349201')]
349218
[('', '349218')]
16988
[('', '16988')]
19877
[('', '19877')]
PC 17608
[(' 17608', '')]
376566
[('', '376566')]
STON/O 2. 3101288
[(' 2', ''), (' 3101288', '')]
WE/P 5735
[(' 5735', '')]
C.A. 2673
[(' 2673', '')]
250648
[('', '250648')]
113773
[('', '113773')]
335097
[('', '335097')]
29103
[('', '29103')]
392096
[('', '392096')]
345780
[('', '345780')]
349204
[('', '349204')]
220845
[('', '220845')]
250649
[('', '250649')]
350042
[('', '350042')]
29108
[('', '29108')]
363294
[('', '363294')]
110152
[('', '110152')]
358585
[('', '358585')]
SOTON/O2 3101272
[(' 3101272', '')]
2663
[('', '2663')]
113760
[('', '113760')]
347074
[('', '347074')]
13502
[('', '13502')]
112379
[('', '112379')]
364850
[('', '364850')]
371110
[('', '371110')]
8471
[('', '8471')]
345781
[('', '345781')]
350047
[('', '350047')]
S.O./P.P. 3
[(' 3', '')]
2674
[('', '2674')]
29105
[('', '29105')]
347078
[('', '347078')]
383121
[('', '383121')]
364516
[('', '364516')]
36865
[('', '36865')]
24160
[('', '24160')]
2687
[('', '2687')]
17474
[('', '17474')]
113501
[('', '113501')]
W./C. 6607
[(' 6607', '')]
SOTON/O.Q. 3101312
[(' 3101312', '')]
374887
[('', '374887')]
3101265
[('', '3101265')]
382652
[('', '382652')]
C.A. 2315
[(' 2315', '')]
PC 17593
[(' 17593', '')]
12460
[('', '12460')]
239865
[('', '239865')]
CA. 2343
[(' 2343', '')]
PC 17600
[(' 17600', '')]
349203
[('', '349203')]
28213
[('', '28213')]
17465
[('', '17465')]
349244
[('', '349244')]
2685
[('', '2685')]
345773
[('', '345773')]
250647
[('', '250647')]
C.A. 31921
[(' 31921', '')]
113760
[('', '113760')]

2625
[('', '2625')]
347089
[('', '347089')]
347063
[('', '347063')]
112050
[('', '112050')]
347087
[('', '347087')]
248723
[('', '248723')]
113806
[('', '113806')]
3474
[('', '3474')]
A/4 48871
[(' 48871', '')]
28206
[('', '28206')]
347082
[('', '347082')]
364499
[('', '364499')]
112058
[('', '112058')]
STON/O2. 3101290
[(' 3101290', '')]
S.C./PARIS 2079
[(' 2079', '')]
C 7075
[(' 7075', '')]
347088
[('', '347088')]
12749
[('', '12749')]
315098
[('', '315098')]
19972
[('', '19972')]
392096
[('', '392096')]
3101295
[('', '3101295')]
368323
[('', '368323')]
1601
[('', '1601')]
S.C./PARIS 2079
[(' 2079', '')]
367228
[('', '367228')]
113572
[('', '113572')]
2659
[('', '2659')]
29106
[('', '29106')]
2671
[('', '2671')]
347468
[('', '347468')]
2223
[('', '2223')]
PC 17756
[(' 17756', '')]
315097
[('', '315097')]
392092
[('', '392092')]
1601
[('', '1601')]
11774
[('', '11774')]
SOTON/O2 3101287
[(' 3101287', '')]
S.O./P.P. 3
[(' 3', '')]
113798
[('', '113798')]
2683
[('', '2683')]
315090
[('', '315090')]
C.A. 5547
[(' 5547', '')]
CA. 2343
[(' 2343', '')]
349213
[('', '349213')]
248727
[('', '248727')]
17453
[('', '17453')]
347082
[('', '347082')]
347060
[('', '347060')]
2678
[('', '2678')]
PC 17592
[(' 17592', '')]
244252
[('', '244252')]
392091
[('', '392091')]
36928
[('', '36928')]
113055
[('', '113055')]
2666
[('', '2666')]
2629
[('', '2629')]
350026
[('', '350026')]
28134
[('', '28134')]
17466
[('', '17466')]
CA. 2343
[(' 2343', '')]
233866
[('', '233866')]
236852
[('', '236852')]
SC/PARIS 2149
[(' 2149', '')]
PC 17590
[(' 17590', '')]
345777
[('', '345777')]
347742
[('', '347742')]
349248
[('', '349248')]
11751
[('', '11751')]
695
[('', '695')]
345765
[('', '345765')]
P/PP 3381
[(' 3381', '')]
2667
[('', '2667')]
7534
[('', '7534')]
349212
[('', '349212')]
349217
[('', '349217')]
11767
[('', '11767')]
230433
[('', '230433')]
349257
[('', '349257')]
7552
[('', '7552')]
C.A./SOTON 34068
[(' 34068', '')]
SOTON/OQ 392076
[(' 392076', '')]
382652
[('', '382652')]
211536
[('', '211536')]
112053
[('', '112053')]
W./C. 6607
[(' 6607', '')]
111369
[('', '111369')]
370376
[('', '370376')]

### Numeric Converted Dataset - Preview

In [90]:
data_new.head(100)

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,1,22.0,1,0,A/5 21171,7.2500,-1,2
1,1,1,0,38.0,1,0,PC 17599,71.2833,81,0
2,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,-1,2
3,1,1,0,35.0,1,0,113803,53.1000,55,2
4,0,3,1,35.0,0,0,373450,8.0500,-1,2
...,...,...,...,...,...,...,...,...,...,...
95,0,3,1,-1.0,0,0,374910,8.0500,-1,2
96,0,1,1,71.0,0,0,PC 17754,34.6542,12,0
97,1,1,1,23.0,0,1,PC 17759,63.3583,91,0
98,1,2,0,34.0,0,1,231919,23.0000,-1,2
99,0,2,1,34.0,1,0,244367,26.0000,-1,2

### Prediction Target

In [91]:
y = data_new.Survived
print(y)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

### Features/Inputs

In [93]:
features = ['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin', 'Embarked']

the data will be called 'X'

In [94]:
X = data_new[features]

Review the data using the .describe & .head

In [95]:
X.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,0.647587,23.600640,0.523008,0.381594,32.204208,16.629630,1.529742
std,0.836071,0.477990,17.867496,1.102743,0.806057,49.693429,38.140335,0.800254
min,1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000
25%,2.000000,0.000000,6.000000,0.000000,0.000000,7.910400,-1.000000,1.000000
50%,3.000000,1.000000,24.000000,0.000000,0.000000,14.454200,-1.000000,2.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,-1.000000,2.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,146.000000,2.000000

In [96]:
X.head(100)

    Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0        3    1  22.0      1      0   7.2500     -1         2
1        1    0  38.0      1      0  71.2833     81         0
2        3    0  26.0      0      0   7.9250     -1         2
3        1    0  35.0      1      0  53.1000     55         2
4        3    1  35.0      0      0   8.0500     -1         2
..     ...  ...   ...    ...    ...      ...    ...       ...
95       3    1  -1.0      0      0   8.0500     -1         2
96       1    1  71.0      0      0  34.6542     12         0
97       1    1  23.0      0      1  63.3583     91         0
98       2    0  34.0      0      1  23.0000     -1         2
99       2    1  34.0      1      0  26.0000     -1         2

[100 rows x 8 columns]

## Build the model (random forest model)

Random forest model is

In [97]:
from sklearn.ensemble import RandomForestClassifier

## Train the network

## Evaluate the model

## Predict